.team-section {
  width: 100%;
  background-color: $backgraundColorPage;
  padding-bottom: 60px;
  padding-top: 60px;

  @include desktop {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}
.specialists-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: $titleTextColor;
  padding-bottom: 10px;
  text-align: center;
}
.specialists-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.specialist-card {
  background-color: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 450px;

   @include tablet {
    width: calc((100% - 30px) / 2);
  }

  @include desktop {
    width: calc((100% - 90px) / 4);
  }
}
.photo {
  display: block;
  width: 100%;
  height: auto;
}
.specialist-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.item-wrapper {
  padding-top: 30px;
  padding-right: 20px;
  padding-left: 20px;
}
.social-network-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 32px 30px 32px;
}
.social-network-wrapp {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-list li:not(:last-child) {
  margin-right: 10px;
}
.icon {
  display: block;
  margin: auto;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network-scroll:hover .icon {
  fill: $whiteColor;
}
.social-network-scroll:hover .social-network-wrapp {
  background-color: $accentTextColor;
  fill: $whiteColor;
}
.social-network-wrapp:hover {
  background-color: $accentTextColor;
  fill: $whiteColor;
}
.link:focus .social-network-wrapp {
  background-color: $accentTextColor;
  fill: $whiteColor;
}
.link:focus .icon {
  fill: $whiteColor;
}
