.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: $whiteColor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mobile {
    width: 450px;
    height: 608px;
  }

  @include desktop {
    width: 528px;
    height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
}
.close-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;

  background-color: $whiteColor;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-close {
  width: 11px;
  height: 11px;
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover .icon-close {
  fill: $accentTextColor;
}
.close-button:focus .icon-close {
  fill: $accentTextColor;
}

.no-scroll {
  overflow: hidden;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: $titleTextColor;

  @include desktop {
    line-height: 1.15;
  }
}
.modal-wrapper {
  margin-top: 12px;
  margin-bottom: 20px;
}
.modal-element-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-wrapper .modal-element-wrapper:last-child {
  margin-bottom: 0;
}
.modal-element-wrapper input {
  height: 40px;
  border: 1px solid rgba(189, 189, 189, 0.2);
  border-radius: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-element-wrapper label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}
.modal-element-wrapper textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-element-wrapper textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);

  @include desktop {
    font-size: 12px;
    line-height: 1.17;
  }
}
.icon-modal {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: 50%;
  transform: translateY(50%);
  margin-left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper {
  position: relative;
}
.input-wrapper input {
  width: 100%;
  padding-left: 42px;
}
.input-wrapper:focus-within > .icon-modal {
  fill: $accentTextColor;
}
.input-wrapper input:focus {
  outline: 1px solid $accentTextColor;
}
.modal-element-wrapper textarea:focus {
  outline: 1px solid $accentTextColor;
}

/* Checkbox */
.modal-checkbox-wrapper {
  display: flex;
  margin-bottom: 30px;

  @include desktop {
    margin-left: 14px;
    margin-right: 11px;
  }
}
.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
}
.modal-checkbox-wrapper label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-checkbox-wrapper input:checked + label .custom-checkbox {
  background-color: $accentTextColor;
  border: 2px solid $accentTextColor;
}
.checkbox-text {
  font-size: 12px;
  line-height: 1.17;

  @include desktop {
    font-size: 14px;
    line-height: 1.71;
  }
}
.modal-checkbox-wrapper a {
  // padding-left: 3px;
  text-decoration-line: underline;
  color: $accentTextColor;
}

/* BTN send modal */
.btn-send {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 52px;
  margin-left: auto;
  margin-right: auto;

  color: $whiteColor;
  background: $accentTextColor;

  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: $accentTextColor;
}
.btn-send:active {
  background: $activeHeroButton;
}
