// Color
$heroBackgroundColor: #c4c4c4;
$titleTextColor: #212121;
$basicTextColor: #757575;
$accentTextColor: #2196f3;
$activeHeroButton: #188ce8;
$backgraundColorPage: #f5f4fa;
$logoColor: #000000;
$heroFooterBackgroundColor: #2f303a;
$whiteColor: #ffffff;
$footerContactsColor: rgba(255, 255, 255, 0.6);
 
// Fonts
$mainFont: "Roboto", sans-serif;
$logoFont: "Raleway", sans-serif;